{% load bootstrap5 instagram_tags humanize %}

<div class="card">
  <div class="card-header">
    <img src="{{ post.author.avatar_url }}" style="width: 32px; height: 32px" />
    <a href="{% url 'instagram:user_page' post.author.username %}">
      {{ post.author.name }}
    </a>
  </div>
  <div class="card-body">
    <img src="{{ post.photo.url }}" style="width: 100%" />

    <div>
      {% if post|is_like_user:user %}
      <a
        href="{% url 'instagram:post_unlike' post.pk %}"
        style="color: inherit"
      >
        <i class="fa fa-heart"></i>
      </a>
      {% else %}
      <a href="{% url 'instagram:post_like' post.pk %}" style="color: inherit">
        <i class="fa fa-heart-o"></i>
      </a>
      {% endif %}
    </div>

    <div id="post-{{ post.pk }}-comment-list" class="comment-list mt-3 mb-3">
      {% for comment in post.comment_set.all %} 
      {% include 'instagram/_comment.html' %} 
      {% endfor %}
    </div>

    <div>
      {% for tag in post.tag_set.all %}
      <span class="badge bg-primary"> #{{ tag.name }} </span>
      {% endfor %}
    </div>

    <div>
      <a href="{{ post.get_absolute_url }}" style="" class="text-muted">
        <small> {{ post.created_at|naturaltime }} </small>
      </a>
    </div>
  </div>
  <div class="card-footer">
    {% comment %}
    <a href="{% url 'instagram:comment_new' post.pk%}">댓글쓰기</a>
    {% endcomment %}
    <form
      id="post-{{ post.pk }}-comment-form"
      action="{% url 'instagram:comment_new' post.pk %}"
      method="POST"
    >
      {% csrf_token %} {% bootstrap_form comment_form %} {% buttons %}
      <div class="d-grid mt-3 mb-3">
        <button type="submit" class="btn btn-primary">댓글 쓰기</button>
      </div>
      {% endbuttons %}
    </form>
  </div>
</div>

<script>
  document
    .querySelector(`#${'post-{{ post.pk }}-comment-form'}`)
    .addEventListener('submit', function () {
      event.preventDefault();
      const csrftoken = this.querySelector('[name=csrfmiddlewaretoken]').value;
      const message = this.querySelector('[name="message"]').value;
      const request = new Request(this.action, {
        headers: {
          'X-CSRFToken': csrftoken,
          'X-Requested-With': 'XMLHttpRequest',
        },
      });
      const formdata = new FormData();
      formdata.append('message', message);
      const requestOptions = {
        method: 'POST',
        mode: 'same-origin',
        body: formdata,
        redirect: 'follow',
      };
      fetch(request, requestOptions)
        .then((response) => response.text())
        .then((result) => {
          const template = document.createElement('template');
          template.innerHTML = result.trim();
          document
            .querySelector('#post-{{ post.pk }}-comment-list')
            .prepend(template.content);
        })
        .catch((error) => console.log('error', error));
    });
</script>
